__pycache__/
discord.log
.breakpoints
backup_db/
wordle_tmp.png
__replit*
backups_db/
.cache/*
.dockerignore
.env*
compose.yaml
my_db/
my_db_prod/
reset.cmd
.venv/
todo.txt
src/events/riddle.png
src/events/solution.png
