__pycache__/
discord.log
.breakpoints
backup_db/
wordle_tmp.png
__replit*
backups_db/
.cache/*
.dockerignore
.env*
compose.yaml
my_db/
my_db_prod/
reset.cmd
.venv/
todo.txt
src/events/riddle.png
src/events/solution.png
venv-*
docs/
profile.psd
turbo_piflouz_simu*
.vscode/
logs.log
board*.png
chess_database/*.csv
chess_database/*.json
chess_database/*.zst
*.tmp
**.gif
.mypy*


!src/assets/profile_pictures/piflouz_animated.gif
!src/assets/attachments/piflouz_animated.gif